<!DOCTYPE html>
<html lang="en">
  
<head>
  <title>KaiserFit FatLoss Stacks</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Patua+One&display=swap" rel="stylesheet">   

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" >
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Patua+One&display=swap" rel="stylesheet">   

<!-- variable css -->
<link rel="stylesheet" type="text/css" href="components/css/fb-vsl.css">	

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




 
<!-- <script type="text/javascript">
 
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "6qj01s93fg");
</script> -->
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '775382173127345');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=775382173127345&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
   

 

   
</head>
<body>



    <div class="container-fluid" style="padding-right: 0; padding-left: 0;position: relative; height: 100%; width: 100%;">
        <div id="tops" class="container-fluid">


   
            <h4 class="ww" style="color: white;font-size: 2.5vh;font-weight: 700;"><span style="color: red;">WARNING</span> – <span style="color: red;">FREE Custom Plan Unlocked After This Short Video.</span> <br>Do <u>NOT</u> Close Page Or <span style="color: red;">FREE</span> Training Will End</h4>
            
            </div>
            
            <div class="container ff1">
              <h1 class="fhyt"><b>
                “This One Transformation SHIFT Helping Women Achieve Their Best Results In 2021”
               </b></h1>
              
            
            
            <!------<div class="container">c1-------->
            <div style="width: 100%; height: 20px; margin-bottom: 0; background-color: #145690;text-align: center;color: white;white-space: normal;">
              <span class="glyphicon glyphicon-volume-up" style="font-weight: 700;"></span><b> Make Sure Your Sound Is Turned ON!</b> (Please Wait For Video To Fully Load)
              </div>
              <div id="vidalytics_embed_1PMI7kp4eFEbmJ9i" style="width: 100%; position:relative; padding-top: 56.25%;"></div>
              <script type="text/javascript">
              (function (v, i, d, a, l, y, t, c, s) {
                  y='_'+d.toLowerCase();c=d+'L';if(!v[d]){v[d]={};}if(!v[c]){v[c]={};}if(!v[y]){v[y]={};}var vl='Loader',vli=v[y][vl],vsl=v[c][vl + 'Script'],vlf=v[c][vl + 'Loaded'],ve='Embed';
                  if (!vsl){vsl=function(u,cb){
                      if(t){cb();return;}s=i.createElement("script");s.type="text/javascript";s.async=1;s.src=u;
                      if(s.readyState){s.onreadystatechange=function(){if(s.readyState==="loaded"||s.readyState=="complete"){s.onreadystatechange=null;vlf=1;cb();}};}else{s.onload=function(){vlf=1;cb();};}
                      i.getElementsByTagName("head")[0].appendChild(s);
                  };}
                  vsl(l+'loader.min.js',function(){if(!vli){var vlc=v[c][vl];vli=new vlc();}vli.loadScript(l+'player.min.js',function(){var vec=v[d][ve];t=new vec();t.run(a);});});
              })(window, document, 'Vidalytics', 'vidalytics_embed_1PMI7kp4eFEbmJ9i', 'https://fast.vidalytics.com/embeds/YFVwMsqn/1PMI7kp4eFEbmJ9i/');
              </script>
              
              <!-- Event snippet for Fathacks Viewed conversion page -->
            <script>
              gtag('event', 'conversion', {'send_to': 'AW-808125221/vRPwCKCI8PUBEKWGrIED'});
            </script>
            
            <script type="text/javascript">
            setTimeout(function() {
            //  Event snippet for VSL - 1 Minute conversion page 
              gtag('event', 'conversion', {'send_to': 'AW-808125221/xmSkCOK7j_YBEKWGrIED'});}, 60000)
            </script>
            
            <script type="text/javascript">
            setTimeout(function() {
          //  Event snippet for VSL - 10 Minutes conversion page 
              gtag('event', 'conversion', {'send_to': 'AW-808125221/5GW3CLe1gvYBEKWGrIED'});}, 600000)
            </script>
            
            <script type="text/javascript">
            setTimeout(function() {
          // Event snippet for VSL - 30 Minutes conversion page 
              gtag('event', 'conversion', {'send_to': 'AW-808125221/XzKMCP7gj_YBEKWGrIED'});}, 1800000)
            </script>
            
            <script type="text/javascript">
            setTimeout(function() {
          // Event snippet for VSL - 45 Minutes conversion page 
              gtag('event', 'conversion', {'send_to': 'AW-808125221/8m5fCOzJgvYBEKWGrIED'});}, 2700000)
            </script>
             
            <!------</div>c1-------->
              </div>
            
             
            
            
            <div class="container-fluid" id="co-box">
              <div class="container" style="text-align: center;">
            <img src="components/img_assets/ribbon.png" class="img-responsive" style="margin: 0 auto;max-width: 100%;">
              </div>
            <div class="row" id="up1-holder">
                <div class="col-md-3 col-sm-offset-1 ix">
                  <h1 class="pt">1 BOTTLE</h1>
                     <p class="ptt">30 DAY SUPPLY</p><br>
                  <img src="components/img_assets/1.png" class="supp" height="250" width="250">
                  <div class="price">
                    <div id="price">
                      $69
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21140"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>Total: $69.00</b></h4>
                  <br>
                  <p style="color: #2d3031;">+ $9.95 Shipping Fee<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
              <div class="col-md-3 ixx">
                 <h1 class="pt">6 BOTTLE</h1>
                     <p class="ptt">180 DAY SUPPLY</p><br>
                  <img src="components/img_assets/Formula6.png" class="supp" height="250" width="320">
            
                  <div class="price">
                    <div id="price">
                      $49
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21142"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>$294.00</b></h4>
                  <br>
                  <p style="color: red;font-weight: 700;">+ FREE SHIPPING<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
              <div class="col-md-3 ix"> 
                    <h1 class="pt">3 BOTTLE</h1>
                     <p class="ptt">90 DAY SUPPLY</p><br>
                  <img src="components/img_assets/3qf.png" class="supp" height="250" width="250">
                  <div class="price">
                    <div id="price">
                      $69
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21141"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>$177.00</b></h4>
                  <br>
                  <p style="color: red;font-weight: 700;">+ FREE SHIPPING<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
                
                </div> <!----end row-->
              
                 <br>
              <br>
              <div class="container">
              <img src="components/img_assets/rbn.PNG" class="img-responsive">
                <br>
              <img src="components/img_assets/moneyback-y.png" class="img-responsive" height="698" width="786">
                <br>
              <img src="components/img_assets/moneyback-b.png" class="img-responsive" height="698" width="786">
              </div>
            
            <div class="row" style="text-align: center;">
              <div class="col-md-4 bfq">
                <img src="components/img_assets/BFAQ1.png" class="bfaq">
              </div>
               <div class="col-md-4 bfq">
                 <img src="components/img_assets/BFAQ2.png" class="bfaq">
              </div>
               <div class="col-md-4 bfq">
                 <img src="components/img_assets/BFAQ3.png" class="bfaq">
              </div>
              
            </div> <!-------end 1stbanner------->
            <br>
            <div class="container-fluid" style="padding: 0;">
              <img src="components/img_assets/BFAQ4.png" class="img-responsive">
              </div>
            <div class="container faq">
              <h1 style="font-size: 5vh; text-align: center; font-weight: 800; color: #132a74;">
                Queen Formula FAQs
              </h1>
              <br>
            <h2 class="faqt">
              How Many Bottles Of Queen Formula Should I Order? 
              </h2>
              <br>
              <p class="faqp">
             The women who achieve the best PERMANENT transformations order 90- 180 day supplies. To achieve life changing results, Queen Formula should be taken consistently for at least 90-180 days as the longer you take the incredible fat destroying 10 ingredients, the faster your metabolism becomes and the better your body naturally becomes at burning fat stores. This is why we strongly recommend you take advantage of our 3 bottle or 6 bottle discount options. 
            <br>
            <br>
            Another very important reason why you should stock up on the 90-180 day options is because more and more women are finding out about Queen Formula every day and we are consistently running out of stock...And the last thing you want is to find yourself losing a incredible amount of fat only to run out and not be able to purchase Queen Formula for months...
            <br>
            <br>    
            Lastly...Queen Formula is still in it’s ‘Special Launch Price’...So I guarantee you’ll never be able to buy Queen Formula cheaper than today. Which is another important reason why picking up at least 90 -180 days worth is definitely the smart option.
            <br>
            <br>
              </p>
            <h2 class="faqt">
              Will Queen Formula work for me? 
              </h2>
              <br>
             <p class="faqp">
             YES! Queen Formula and it’s amazing bonuses have changed the body and life of THOUSANDS of women...And it can do the same for you. You can achieve the easiest fat loss transformation of your life with the incredible 10 fat melting ingredients that will soon be helping you live life as your BEST self. The woman you were always meant to be.
            <br>
            <br>
              </p>
              <h2 class="faqt">
              Is Queen Formula Safe? 
              </h2>
              <br>
              <p class="faqp">
                Absolutely. Thousands of women are taking Queen Formula each and every single day and losing fat effortlessly with no reported side effects. Every capsule of Queen Formula is manufactured here in the USA in our state of the art, best in the world facility which is FDA approved and GMP (good manufacturing practices) certified. As always, if you have a medical condition it's recommended to consult with your doctor. 
            <br>
            <br>
              </p>
                <h2 class="faqt">
              How Fast Will I Lose Weight?
              </h2>
              <br>
              <p class="faqp">
            Countless women have said “this is the fastest fat loss journey of my life” and reported dramatic differences in weight and measurements in 7-10 days. However, every single woman’s body is different. Generally, The more you need to get rid of, the faster it’s likely to work. In 1 or 2 months, you could already be living with your Dream Body and as your TRUE SELF. It can happen that fast. 
            <br>
            <br>
              </p>
              <h2 class="faqt">
              How soon will I receive my order of Queen Formula?
              </h2>
              <br>
              <p class="faqp">
                United States & Canada- You Can expect Queen Formula to arrive in 3-7 Days if you live in the United States & Canada. 
            <br>
            <br>
                Outside the United States- Please allow 10-14 days for international shipping and custom clearance. 
              <br>
            <br>
              </p>
                <h2 class="faqt">
              Is this a single, one time payment? 
              </h2>
              <br>
              <p class="faqp">
            Absolutely! This is a single ONE TIME PAYMENT processed by our state of the art payments processor. The payment is secure and uses the same encryption technology as Amazon and online banks. You’ll never be billed anything else without your consent and there are absolutely no hidden costs.
               <br>
            <br>
            
              </p>
              
                 <h2 class="faqt">
              What is the best way to take Queen Formula?
              </h2>
              <br>
              <p class="faqp">
                Very easy. Take 1 capsule 30 minutes before breakfast OR with breakfast. Then let the incredible fat loss ingredients work their magic and put you in a ‘Fat Loss State’. 
             <br>
            <br>
                You can add a second capsule about 6 hours later for added fat burning once you have assessed your tolerance.
            <br>
            <br>
              </p>
              
                   <h2 class="faqt">
              What if Queen Formula doesn’t work for me?
              </h2>
              <br>
              <p class="faqp">
            I am EXTREMELY confident Queen Formula will work for you. I promise you that you will achieve the easiest and most effortless fat loss of your life, which will help you finally become the woman you have always dreamed of becoming. 
            <br>
            <br>
            I not only promise...I GUARANTEE life changing results. I am so confident that I am offering you a LIFETIME 100% MONEY BACK GUARANTEE. 
            <br>
            <br>
            If Queen Formula doesn’t turn out to be the best decision you’ve ever made, or if you change your mind for any reason whatsoever, just email us at service@queenformula.net OR call us on 1 888 671 0601 at ANY TIME, 7 days a week, 24 hours a day for a prompt refund.     
             <br>
            <br>
              </p>
              
                     <h2 class="faqt">
              What's so special about Queen Formula?
              </h2>
              <br>
              <p class="faqp">
            What you are getting with Queen Formula is something that has been built from scratch, with years of Research & Development and that was only accessible to the Hollywood Stars and Athletes…
                <br>
            <br>
                10 of the most powerful ingredients squeezed into one tiny capsule which you can take once a day in the morning and see the fat melt off like butter melts in a pan by:
            <br>
            <br>
                </p>
                <ul>
                  <li  class="faqp">Supercharging your Metabolism </li>
                   <li  class="faqp">Burning Visceral Fat from deep inside your body </li>
                   <li  class="faqp">Destroy all cravings that lead to binge eating</li>
                   <li  class="faqp">Keeping away ‘false hunger signals’ which occur as your body is melting fat</li>
                   <li  class="faqp">Turning your body into a ‘Fat Burning Machine’ on Autopilot</li>
                  
              </ul>
             <br>
            <br>
              <p class="faqp">
              And the best part of it all? Unlike other supplements there are no side effects and no restrictive diets and exercises required.
            <br>
            <br>
              That’s what separates Queen Formula from the pack, a team that has been in your shoes that were sick and tired of being lied to and seeing their bodies being taken away from them by greedy companies.
             <br>
              </p>
            </div> <!-------end faq-------->
            <div class="row" id="up1-holder">
                <div class="col-md-3 col-sm-offset-1 ix">
                  <h1 class="pt">1 BOTTLE</h1>
                     <p class="ptt">30 DAY SUPPLY</p><br>
                  <img src="components/img_assets/1.png" class="supp" height="250" width="250">
                  <div class="price">
                    <div id="price">
                      $69
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21140"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>Total: $69.00</b></h4>
                  <br>
                  <p style="color: #2d3031;">+ $9.95 Shipping Fee<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
              <div class="col-md-3 ixx">
                 <h1 class="pt">6 BOTTLE</h1>
                     <p class="ptt">180 DAY SUPPLY</p><br>
                  <img src="components/img_assets/Formula6.png" class="supp" height="250" width="320">
               
                  <div class="price">
                    <div id="price">
                      $49
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21142"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>$294.00</b></h4>
                  <br>
                  <p style="color: red;font-weight: 700;">+ FREE SHIPPING<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
              <div class="col-md-3 ix"> 
                    <h1 class="pt">3 BOTTLE</h1>
                     <p class="ptt">90 DAY SUPPLY</p><br>
                  <img src="components/img_assets/3qf.png" class="supp" height="250" width="250">
                  <div class="price">
                    <div id="price">
                      $69
                    </div>
                    <div id="per">
                      <span id="bottle" style="line-height: 1;">Per<br> Bottle</span>
                    </div>
                  </div> <!----end classprice-->
                  <a href="#" class="suppBtn" data-id="21141"><img src="components/img_assets/add-cart.png" class="img-responsive"></a>
                  <br>
                  <h4 style="color: #2d3031;"><b>$177.00</b></h4>
                  <br>
                  <p style="color: red;font-weight: 700;">+ FREE SHIPPING<span><img src="components/img_assets/truck.png"></span></p>
                      <h4 style="color: #2d3031;"><b>LIFETIME Money Back Guarantee</b></h4> 
                   <img src="components/img_assets/visa-mastercard-icon.png" class="img-responsive">
                  <br>
              </div>
                
                </div>
              </div>
            </div>
  
  
            <div class="container-fluid" style="background-color: #d1d1d1; padding: 10px">
             
                <div class="row">
                 
                    <div class="col-sm-2 col-md-offset-2">
                        <div class="container-map">
                           
                          
            <p class="footer" >Call us at 1 833 692 0371<br>
            or email us at: service@queenformula.net
            © 2021 Queen Formula, LLC. All rights reserved. Queen Formula, LLC is the owner of the Queen Formula and Queen Formula trademarks, and all related designs, trademarks, copyrights, and other intellectual property. All other trademarks are owned by their respective owners.</p>
            
                        </div>
                     </div>
                     <div class="col-md-6">
                         <div class="container-buttons">
                              <p class="footer" >
            Results vary depending on starting point, goals and effort.
                  Exercise and proper diet are necessary to achieve and maintain weight loss and muscle definition.<br>
            <br>Consult your physician and follow all safety instructions before beginning any exercise program
                  or using any supplement, nutrition plan or meal replacement product, especially if you are pregnant, breastfeeding, or if you have any unique or special medical conditions.<br>
            <br>The contents on our website are for informational purposes only, and are not intended to diagnose any medical condition, replace the advice of a healthcare professional, or provide any medical device, diagnosis, or treatment.
            </p>
                          </div>
                     </div>
                </div>
            
            </div>
             
             <div class="modal" id="exitModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered pops" role="document">
                <div class="modal-content" id="popup">
                  <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" style="font-size: 4vh; color: red; text-align: center; font-weight: 800;">WAIT!</h3>
                 <h3 style="font-weight: 700; font-size: 2.7vh; text-align: center;">You Are 1 Fat Loss Hack Away From Your Best Body Ever! </h3>
                  </div>
                  <div class="modal-body">
                   
                    <p style="font-size: 2.5vh; text-align: center;">Discover the Super Simple Fat Loss Hack For Your SPECIFIC Metabolism… Are you ready to discover this Secret that will change your life forever?</p>
                    <br>
                    <div id="btnWrap" class="btn-block">
                    <button class="btn btn-lg btn-block btn-danger red_page" id="red_page" style="white-space: normal; background-color:red;font-weight: 700;color: white; text-align: center; font-size: 3vh;padding: 10px;">YES! Discover Fat Loss Hack Now</button>
                    </div>
                    <br>
                   
                    <p style="font-size: 2.5vh; text-align: center;">Fat Loss Hack Revealed In: <span id="mins"></span> : <span id="sec"></span></p>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div> -->
                </div>
              </div>
            </div> <!-------exitpopup------->
            </body>
              <script type="text/javascript">
               $( document ).ready(function() {
                
                document.getElementById("co-box").style.display = 'none';
                     var tokenx = "";
                 function showCO(){
                   document.getElementById("co-box").style.display = 'block';
                 }
                 
            
                      function getCookie(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);
              var ca = decodedCookie.split(';');
              for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
                    
                        }
                 
                 function checkCookie() {
              var userage = getCookie("userage");
                   var fhw = getCookie("fh-watched");
                   var uToken = getCookie("userToken");
                    if (fhw != "") {
               document.getElementById("co-box").style.display = 'block';
              }else { //initiate timer of vid
                 document.cookie = "fh-watched=1";
                setTimeout(showCO, 3540000);
              }
              if (userage != "") { //user came from quizpage]
                console.log("for ages "+userage);
               //document.getElementById("agerange").textContent=userage;
                
              } else {
                    console.log("welcome");
                }
                   
                    if (uToken != "") { //token Exists
                          tokenx = uToken;
                                  }else { //no token
                                        let pass = [...crypto.getRandomValues(new Uint8Array(10))]
                            .map((x,i)=>(i=x/255*61|0,String.fromCharCode(i+(i>9?i>35?61:55:48)))).join``
                        console.log(pass);
                                     document.cookie = "userToken="+pass;
                          tokenx = pass;
                              }
            }
                 
                 checkCookie();
                // $.ajax({
                // type: 'POST',
                // url: 'https://pay.kaiserfitapp.com/stripetest/db.php',
                // crossDomain: true,
                // data: {'action': 'pLoad','fpage': 'fathacks','tokenx': tokenx},
                // dataType: 'json',
                // success: function(response) {
                //   console.log(response.data);
                // },
                //  error: function(response){
                //    console.log(response.data);
                //  }
                //   });
             
                    }); //end doc ready
                 
                    function getCookie(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);
              var ca = decodedCookie.split(';');
              for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
                    
                        }//getCookie
                  
                var tokent = "";
                 function checkCookie() {
                      
                   var uToken = getCookie("userToken");
                   tokent = uToken;
                      
                 }
                
                checkCookie();
                
                
                function fmins(mins){
                   $.ajax({
                type: 'POST',
                url: 'https://pay.kaiserfitapp.com/stripetest/db.php',
                crossDomain: true,
                data: {'action': 'fathacks','mins': mins,'tokenx': tokent},
                dataType: 'json',
                success: function(response) {
                  console.log(response.data);
                },
                 error: function(response){
                   console.log(response.data);
                 }
                  });
                }
                
               
               setTimeout(function() {
                 var mins = "5";
                 fmins(mins);
                                        }, 300000);
                
                 setTimeout(function() {
                 var mins = "15";
                 fmins(mins);
                                        }, 900000);
                
                 setTimeout(function() {
                 var mins = "30";
                 fmins(mins);
                                        }, 1800000);
                
                  setTimeout(function() {
                 var mins = "45";
                 fmins(mins);
                                        }, 2700000);
                
                  setTimeout(function() {
                 var mins = "60";
                 fmins(mins);
                                        }, 36000000);
                
                      setTimeout(function() {
                 var mins = "75";
                 fmins(mins);
                                        }, 45000000);
                
                
               $( ".checkoutb" ).click(function() {
                  window.location.href = "/stage/cbstripe";
            });
                 $( ".suppBtn" ).click(function() {
                   var sku = $(this).data('id');
                //     var dd = {'action': 'uLoad','fpage': 'fathacks','tokenx': tokent, 'user_action': 'proceed'};
                  
                //     $.ajax({
                // type: 'POST',
                // url: 'https://pay.kaiserfitapp.com/stripetest/db.php',
                // crossDomain: true,
                // data: dd,
                // dataType: 'json',
                // success: function(response) {
                //   console.log(response.data);
                //   window.location.href = "/stage/checkout.html?sku=" + sku;
                // },
                //  error: function(response){
                //     console.log(response.data);
                //  window.location.href = "/stage/cb-order-page-supplement?sku=" + sku;
                //  }
                //   });
                window.location.href = "/stage/checkout.html?sku=" + sku;
            });
               // Vanilla Javascript
                        
                
              </script>
              
              <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.5/mobile-detect.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.min.js"></script>
            <script type="text/javascript">
               var timeInSecs = 0;
            var ticker = 0;
              
              function startTimer(secs) {
            timeInSecs = parseInt(secs);
            ticker = setInterval("tick()", 1000); 
            }
             function tick() {
            var secs = timeInSecs;
            if (secs > 0) {
            timeInSecs--; 
            }
            else {
            clearInterval(ticker);
            startTimer(2*60);
            }
            
            var days= Math.floor(secs/86400); 
            secs %= 86400;
            var hours= Math.floor(secs/3600);
            secs %= 3600;
            var mins = Math.floor(secs/60);
            secs %= 60;
            var pretty = ( (hours < 10 ) ? "0" : "" ) + hours + ":" + ( (mins < 10) ? "0" : "" ) + mins + ":" + ( (secs < 10) ? "0" : "" ) + secs;
            var xmins = ( (mins < 10) ? "0" : "" ) + mins;
              var xsec = ( (secs < 10) ? "0" : "" ) + secs;
              document.getElementById("mins").innerText = xmins;
              document.getElementById("sec").innerText = xsec;
           
            }
              
            
            
            
            
            
            startTimer(2*60);
              </script>
            <script language="JavaScript" type="text/javascript">
            $( document ).ready(function() {
             
             
             
              // window.location.hash = '#c';
             document.getElementsByClassName('ui-loader')[0].style.visibility = 'hidden';
            
            });
            
            document.getElementById("red_page").onclick = function () {
                 $('#exitModal').modal('hide');
                };
             $('.pops').click(function(){
                $('#exitModal').modal('hide');
             });
            function writeLength() {
                
              console.log(" ");
                }
              function test() {
                    window.location.hash = 'a';
                    setTimeout(function () {
                        writeLength();
                        window.history.pushState(null, null, `${window.location.pathname}#b`);
                        setTimeout(function () {
                            writeLength();
                            window.history.pushState(null, null, `${window.location.pathname}#c`);
                            setTimeout(function () {
                                writeLength();
                            }, 1000);
                        }, 1000);
                    }, 1000);
                }
            
             
                var xs = 0;
                var seen = false;
            
               
            function checkxs(){
            
              alert(xs);
               var currentUrl = $.mobile.activePage.data('url');
              alert(currentUrl);
            }
            
             // 4 minutes in seconds
            function gb(){
             
            $('#exitModal').modal({backdrop: 'static', keyboard: false});
            $('#exitModal').modal('show');
            
              }
            
            var mouseX = 0;
                    var mouseY = 0;
                    var popupCounter = 0;
            
                  //   document.addEventListener("mousemove", function(e) {
                  //       mouseX = e.clientX;
                  //       mouseY = e.clientY;
                  //  });
            
                    // $(document).mouseleave(function () {
                    //     if (mouseY < 100) {
                    //         if (popupCounter < 1) {
                    //             gb();
                    //         }
                    //         popupCounter ++;
                    //     }
                    // });
            
                     
                                  
            
            
                  // $(window).on("navigate", function (event, data) {
                   
                   
                  //   if ( xs === 0){
                  //     test();
                     
                  //     xs = 1;
                
                  //   event.preventDefault();
                  //   event.stopPropagation();
                    
                  //   var confirmationMessage = 'It looks like you have been editing something. '
                  //                 + 'If you leave before saving, your changes will be lost.';
                  // (event || window.event).returnValue = confirmationMessage; //Gecko + IE
                  // return confirmationMessage;
                   
                  //   } else if (xs === 1) {
                  //     xs = 2;
                   
                  //     test();
                   
                  //     event.preventDefault();
                  //   event.stopPropagation();
                  //   var confirmationMessage = 'It looks like you have been editing something. '
                  //                 + 'If you leave before saving, your changes will be lost.';
                  // (event || window.event).returnValue = confirmationMessage; //Gecko + IE
                  // return confirmationMessage;
             
                  //   } else if (xs === 2){
                  //      gb();
                  //     test();
                    
                  //     event.preventDefault();
                  //   event.stopPropagation();
                  //   var confirmationMessage = 'It looks like you have been editing something. '
                  //                 + 'If you leave before saving, your changes will be lost.';
                  // (event || window.event).returnValue = confirmationMessage; //Gecko + IE
                  // return confirmationMessage;
                   
                  //   } else {
                  //     gb();
                  //     test();
                     
                  //     event.preventDefault();
                  //   event.stopPropagation();
                  //   var confirmationMessage = 'It looks like you have been editing something. '
                  //                 + 'If you leave before saving, your changes will be lost.';
                  // (event || window.event).returnValue = confirmationMessage; //Gecko + IE
                  // return confirmationMessage;
                  //   }
                   
                  //   gb();
                    
                
                 
                    
                  //     });
            </script>
            </html>
            