body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #fff; /* For browsers that do not support gradients */
  /* background-image: linear-gradient(to bottom left, rgb(235, 235, 170),white, white); */
}
.top {
  background-color: #1f1f1f; 
  border-bottom: 5px solid #7c009e;
  padding: 20px;
 }
 .top1{
  width: 70% !important; 
 }
#subscriptionDiv {
    padding: 10px;
}

#subscriptionDiv #mobRow {
    display: none;
}
#subscriptionDiv h2{
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    line-height: 1.2;
}
#subscriptionDiv .col-md-4.ix{
    padding: 30px;
   text-align: center;
}
#subscriptionDiv .col-md-4.ixx{
    padding: 5px;
   text-align: center;
}

#subscriptionDiv  .col-md-4.ixx .pack{
    padding: 8px;
    /* border: 1px solid #e5e4e2; */
    border: 2px solid #7c009e;
    border-radius: 9px;
  
}

#subscriptionDiv  .col-md-4.ix .pack{
    padding: 8px;
    border: 1px solid #e5e4e2;
    /* border: 1px solid #7c009e;; */
    border-radius: 9px;
  
}



#subscriptionDiv .col-md-4 .pack .resub-btn{
   font-size: 1.6em;
   font-weight: 700;
    color: #000;
    background-color: #fee300;
    border-radius: 15px;
  
}
#subscriptionDiv .col-md-4 .pack:hover{
   
    /* background-color: #e5e4e2; */
    background-color: #fff;
   
 }
/* #subscriptionDiv .col-md-4 .pack:hover .pack-price,#subscriptionDiv .col-md-4 .pack:hover h4{
   color: #fff;
  
} */

#subscriptionDiv .col-md-4 .pack-price{
   color: #000;
   font-size: 20px;
   font-weight: 400;
   line-height: 1;
   
}

#subscriptionDiv .col-md-4 .pack h4{
 font-weight: 600;
 color: #000;
 line-height: 1;
}

#footerSection {
    background-color: #161616;
    color: #fff !important;
    padding: 30px;
  }
  #footerSection .col-md-8 {
    text-align: center;
  }
  
  #footerSection .col-md-8 p {
   
    font-size: 14px;
    line-height: 21px;
  }
  
  #footerSection .col-md-8 a {
   text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }
  
  #slidex img {
    margin: 0 auto;
  }
  
  #guaranteeTitle img {
    position: relative;
    top: -3px;
  }
  
  #cards img {
    display: inline;
  }
@media (min-width: 280px) and (max-width: 991px){
    #subscriptionDiv #mobRow {
        display: block;
    }

    #subscriptionDiv #dkRow {
        display: none;
    }




}



/* Loader */



@keyframes ldio-6mz1tqicbeh-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-6mz1tqicbeh-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-6mz1tqicbeh-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.ldio-6mz1tqicbeh div { position: absolute; width: 30px }.ldio-6mz1tqicbeh div:nth-child(1) {
  left: 35px;
  background: #74007a;
  animation: ldio-6mz1tqicbeh-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-6mz1tqicbeh div:nth-child(2) {
  left: 85px;
  background: #a53faa;
  animation: ldio-6mz1tqicbeh-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-6mz1tqicbeh div:nth-child(3) {
  left: 135px;
  background: #da70dc;
  animation: ldio-6mz1tqicbeh-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-g58bgkekx6 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-6mz1tqicbeh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6mz1tqicbeh div { box-sizing: content-box; }
/* generated by https://loading.io/ */
