body {
    font-family: 'Open Sans', sans-serif; 
      padding-top: 14px;
    }
    body {
        background-image: url("/components/img_assets/etc/bg-hp-kf.jpg");
        /* background-color: #161a25;
        background-blend-mode: overlay; */
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: top center;
        background-attachment: fixed;
    }

    p {
        font-size: 20px;
        font-weight: 300;
        color: #e5e4e2;
        margin-bottom: 50px;
    }

   h1, h2, h3, h4 {
    color: #fff;
    font-weight: 400;
   }

    .mc h1 {
        
        font-weight: 800;
        font-family: 'Racing Sans One', cursive;
      text-align: center;
      color: #fff;
    }

    ul li, ol li {
        font-size: 16px;
        color: #aaa2a2;;
        margin-top: 20px;
    }

    .mc2 {
        background-color: #000;
        
    }

    .mc2 h1 {
        font-weight: 800;
        font-family: 'Racing Sans One', cursive;
      
      color: #fff;
    }

    .footer {

        font-size: 12px;
        color: #fff;
    }

    @media (min-width: 320px)and (max-width: 600px) {
        .mc2 h1 {

            text-align: center;
        }

    }